@{
    ViewData["Title"] = "Lịch sử";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="~/css/History.css" rel="stylesheet" />
}
<main class="history-container">

    <div class="page-header-content">
        <h2 class="page-title">Hoạt động của tôi</h2>

        <div class="tabs-container">
            <button class="tab-btn active" onclick="openTab(event, 'booking-history')">
                <i class="bi bi-calendar-check-fill"></i> Lịch sử Đặt sân
            </button>
            <button class="tab-btn" onclick="openTab(event, 'transaction-history')">
                <i class="bi bi-credit-card-fill"></i> Lịch sử Giao dịch
            </button>
            <button class="tab-btn" onclick="openTab(event, 'transfer-history')">
                <i class="bi bi-arrow-left-right"></i> Giao dịch Chuyển tiền
            </button>
        </div>
    </div>

    <div id="booking-history" class="tab-content active">
        <div class="table-wrapper">
            <table class="data-table">
                <thead>
                </thead>
                <tbody id="booking-tbody">
                </tbody>
            </table>
        </div>
        <div class="pagination-wrapper" id="booking-pagination"></div>
    </div>

    <div id="transaction-history" class="tab-content">
        <div class="table-wrapper">
            <table class="data-table">
                <thead>
                </thead>
                <tbody id="transaction-tbody">
                </tbody>
            </table>
        </div>
        <div class="pagination-wrapper" id="transaction-pagination"></div>
    </div>
    @* //cái chuyển tiền *@
    <div id="transfer-history" class="tab-content">
        <div class="table-wrapper">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>Mã GD</th>
                        <th>Người gửi</th>
                        <th>Người nhận</th>
                        <th>Thời gian</th>
                        <th>Số tiền</th>
                        <th>Lời nhắn</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody id="transfer-tbody">
                    <!-- Dữ liệu load bằng JS -->
                </tbody>
            </table>
        </div>
        <div class="pagination-wrapper" id="transfer-pagination"></div>
    </div>

</main>
@section Scripts {
<script src="/js/History.js"></script>
}